<%= form_with(model: project, local: false, class: "project-form") do |form| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>
      <ul>
        <% project.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name,  "Project Name*" %>
    <%= form.text_field :name, placeholder: "project-name" %>
  </div>

  <div class="field">
    <%= form.label :description, "Description(optional)" %>
    <%= form.text_area :description, placeholder: "Write a brief description of your project..." %>
  </div>

  <div class="field">
    <%= form.label :start_date, "Start_date*" %>
    <%= form.date_field :start_date %>
  </div>

  <div class="field">
    <%= form.label :end_date, "End_date*" %>
    <%= form.date_field :end_date %>
  </div>

  <div class="field">
    <%= form.label :status, "Status*" %>
    <%= form.select :status, options_for_select(['ongoing', 'completed', 'paused', 'cancelled', 'pending']) %>
  </div>

  <div class="actions">
    <%= link_to 'Back', projects_path, class: "btn btn-secondary" %>
    <%= form.submit project.new_record? ? "Create Project" : "Update Project", class: "btn btn-primary" %>
  </div>
<% end %>
