<div class="project-details-container">
  <div class="project-details--a">
    <p>
      <strong>Name:</strong>
      <%= @project.name %>
    </p>

    <p>
      <strong>Description:</strong>
      <%= @project.description %>
    </p>

    <p>
      <strong>Start Date:</strong>
      <%= @project.start_date %>
    </p>

    <p>
      <strong>End Date:</strong>
      <%= @project.end_date %>
    </p>

    <p>
      <strong>Status:</strong>
      <%= @project.status %>
    </p>

    <div class="actions--a">
      <%= link_to 'Back', projects_path, class: "btn btn-secondary--a" %>
      <%= link_to 'Destroy', @project, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger--a" %>
    </div>
  </div>
</div>
